/* @import "../chroma/dark.css"; */
/* https://github.com/alecthomas/chroma/blob/6428fb4e65f3c1493491571c8a6a8f1add1da822/types.go#L208 */
.chroma .bp { color: #fabd2f; } /* NameBuiltinPseudo */
.chroma .c { color: #777e94; } /* Comment */
.chroma .c1 { color: #777e94; } /* CommentSingle */
.chroma .ch { color: #777e94; } /* CommentHashbang */
.chroma .cm { color: #777e94; } /* CommentMultiline */
.chroma .cp { color: #8ec07c; } /* CommentPreproc */
.chroma .cpf { color: #649bc4; } /* CommentPreprocFile */
.chroma .cs { color: #9075cd; } /* CommentSpecial */
.chroma .dl { color: #649bc4; } /* LiteralStringDelimiter */
.chroma .fm {} /* NameFunctionMagic */
.chroma .g {} /* Generic */
.chroma .gd { color: #ffffff; background-color: #5f3737; } /* GenericDeleted */
.chroma .ge { color: #ddee30; } /* GenericEmph */
.chroma .gh { color: #ffaa10; } /* GenericHeading */
.chroma .gi { color: #ffffff; background-color: #3a523a; } /* GenericInserted */
.chroma .gl {} /* GenericUnderline */
.chroma .go { color: #777e94; } /* GenericOutput */
.chroma .gp { color: #ebdbb2; } /* GenericPrompt */
.chroma .gr { color: #ff4433; } /* GenericError */
.chroma .gs { color: #ebdbb2; } /* GenericStrong */
.chroma .gt { color: #ff7540; } /* GenericTraceback */
.chroma .gu { color: #b8bb26; } /* GenericSubheading */
.chroma .il { color: #649bc4; } /* LiteralNumberIntegerLong */
.chroma .k { color: #ff7540; } /* Keyword */
.chroma .kc { color: #649bc4; } /* KeywordConstant */
.chroma .kd { color: #ff7540; } /* KeywordDeclaration */
.chroma .kn { color: #ffaa10; } /* KeywordNamespace */
.chroma .kp { color: #5f8700; } /* KeywordPseudo */
.chroma .kr { color: #ff7540; } /* KeywordReserved */
.chroma .kt { color: #ff7b72; } /* KeywordType */
.chroma .l {} /* Literal */
.chroma .ld {} /* LiteralDate */
.chroma .m { color: #649bc4; } /* LiteralNumber */
.chroma .mb { color: #649bc4; } /* LiteralNumberBin */
.chroma .mf { color: #649bc4; } /* LiteralNumberFloat */
.chroma .mh { color: #649bc4; } /* LiteralNumberHex */
.chroma .mi { color: #649bc4; } /* LiteralNumberInteger */
.chroma .mo { color: #649bc4; } /* LiteralNumberOct */
.chroma .n { color: #c9d1d9; } /* Name */
.chroma .na { color: #fabd2f; } /* NameAttribute */
.chroma .nb { color: #fabd2f; } /* NameBuiltin */
.chroma .nc { color: #ffaa10; } /* NameClass */
.chroma .nd { color: #8ec07c; } /* NameDecorator */
.chroma .ne { color: #ff7540; } /* NameException */
.chroma .nf { color: #fabd2f; } /* NameFunction */
.chroma .ni { color: #fabd2f; } /* NameEntity */
.chroma .nl { color: #ff7540; } /* NameLabel */
.chroma .nn { color: #c9d1d9; } /* NameNamespace */
.chroma .no { color: #649bc4; } /* NameConstant */
.chroma .nt { color: #ff7540; } /* NameTag */
.chroma .nv { color: #ebdbb2; } /* NameVariable */
.chroma .nx { color: #b6bac5; } /* NameOther */
.chroma .o { color: #ff7540; } /* Operator */
.chroma .ow { color: #5f8700; } /* OperatorWord */
.chroma .p { color: #d2d4db; } /* Punctuation */
.chroma .py {} /* NameProperty */
.chroma .s { color: #b8bb26; } /* LiteralString */
.chroma .s1 { color: #b8bb26; } /* LiteralStringSingle */
.chroma .s2 { color: #b8bb26; } /* LiteralStringDouble */
.chroma .sa { color: #ffaa10; } /* LiteralStringAffix */
.chroma .sb { color: #b8bb26; } /* LiteralStringBacktick */
.chroma .sc { color: #ffaa10; } /* LiteralStringChar */
.chroma .sd { color: #b8bb26; } /* LiteralStringDoc */
.chroma .se { color: #ff8540; } /* LiteralStringEscape */
.chroma .sh { color: #b8bb26; } /* LiteralStringHeredoc */
.chroma .si { color: #ffaa10; } /* LiteralStringInterpol */
.chroma .sr { color: #9075cd; } /* LiteralStringRegex */
.chroma .ss { color: #ff8540; } /* LiteralStringSymbol */
.chroma .sx { color: #ffaa10; } /* LiteralStringOther */
.chroma .vc { color: #649bee; } /* NameVariableClass */
.chroma .vg { color: #649bee; } /* NameVariableGlobal */
.chroma .vi { color: #649bee; } /* NameVariableInstance */
.chroma .vm {} /* NameVariableMagic */
.chroma .w { color: #7f8699; } /* TextWhitespace */
.chroma .err {/* not styled because Chroma uses it on too many things like JSX */} /* Error */

/* @import "../codemirror/dark.css"; */
.CodeMirror.cm-s-default .cm-property,
.CodeMirror.cm-s-paper .cm-property {
  color: #a0cc75;
}

.CodeMirror.cm-s-default .cm-header,
.CodeMirror.cm-s-paper .cm-header {
  color: #9daccc;
}

.CodeMirror.cm-s-default .cm-quote,
.CodeMirror.cm-s-paper .cm-quote {
  color: #009900;
}

.CodeMirror.cm-s-default .cm-keyword,
.CodeMirror.cm-s-paper .cm-keyword {
  color: #cc8a61;
}

.CodeMirror.cm-s-default .cm-atom,
.CodeMirror.cm-s-paper .cm-atom {
  color: #ef5e77;
}

.CodeMirror.cm-s-default .cm-number,
.CodeMirror.cm-s-paper .cm-number {
  color: #ff5656;
}

.CodeMirror.cm-s-default .cm-def,
.CodeMirror.cm-s-paper .cm-def {
  color: #e4e4e4;
}

.CodeMirror.cm-s-default .cm-variable-2,
.CodeMirror.cm-s-paper .cm-variable-2 {
  color: #00bdbf;
}

.CodeMirror.cm-s-default .cm-variable-3,
.CodeMirror.cm-s-paper .cm-variable-3 {
  color: #008855;
}

.CodeMirror.cm-s-default .cm-comment,
.CodeMirror.cm-s-paper .cm-comment {
  color: #8e9ab3;
}

.CodeMirror.cm-s-default .cm-string,
.CodeMirror.cm-s-paper .cm-string {
  color: #a77272;
}

.CodeMirror.cm-s-default .cm-string-2,
.CodeMirror.cm-s-paper .cm-string-2 {
  color: #ff5500;
}

.CodeMirror.cm-s-default .cm-meta,
.CodeMirror.cm-s-paper .cm-meta,
.CodeMirror.cm-s-default .cm-qualifier,
.CodeMirror.cm-s-paper .cm-qualifier {
  color: #ffb176;
}

.CodeMirror.cm-s-default .cm-builtin,
.CodeMirror.cm-s-paper .cm-builtin {
  color: #b7c951;
}

.CodeMirror.cm-s-default .cm-bracket,
.CodeMirror.cm-s-paper .cm-bracket {
  color: #999977;
}

.CodeMirror.cm-s-default .cm-tag,
.CodeMirror.cm-s-paper .cm-tag {
  color: #f1d273;
}

.CodeMirror.cm-s-default .cm-attribute,
.CodeMirror.cm-s-paper .cm-attribute {
  color: #bfcc70;
}

.CodeMirror.cm-s-default .cm-hr,
.CodeMirror.cm-s-paper .cm-hr {
  color: #999999;
}

.CodeMirror.cm-s-default .cm-url,
.CodeMirror.cm-s-paper .cm-url {
  color: #c5cfd0;
}

.CodeMirror.cm-s-default .cm-link,
.CodeMirror.cm-s-paper .cm-link {
  color: #d8c792;
}

.CodeMirror.cm-s-default .cm-error,
.CodeMirror.cm-s-paper .cm-error {
  color: #dbdbeb;
}

/* @import "../markup/dark.css"; */
.markup [src$="#gh-light-mode-only"],
.markup [src$="#light-mode-only"],
.markup [href$="#gh-light-mode-only"],
.markup [href$="#light-mode-only"] {
  display: none;
}

.markup [src$="#gh-dark-mode-only"],
.markup [src$="#dark-mode-only"],
.markup [href$="#gh-dark-mode-only"],
.markup [href$="#dark-mode-only"] {
  display: unset;
}

/* theme-dark-arc.css */
:root {
  --arc-green-1: #2d693b;
  --arc-green-2: #3d794b;
  --arc-green-3: #446611;
  --arc-green-4: #448811;
  --is-dark-theme: true;
  --color-primary: #87ab63;
  --color-primary-contrast: #ffffff;
  --color-primary-dark-1: #93b373;
  --color-primary-dark-2: #9fbc82;
  --color-primary-dark-3: #abc492;
  --color-primary-dark-4: #b7cda1;
  --color-primary-dark-5: #cfddc1;
  --color-primary-dark-6: #e7eee0;
  --color-primary-dark-7: #f8faf6;
  --color-primary-light-1: #7a9e55;
  --color-primary-light-2: #6c8c4c;
  --color-primary-light-3: #5f7b42;
  --color-primary-light-4: #516939;
  --color-primary-light-5: #364626;
  --color-primary-light-6: #1b2313;
  --color-primary-light-7: #080b06;
  --color-primary-alpha-10: #87ab6319;
  --color-primary-alpha-20: #87ab6333;
  --color-primary-alpha-30: #87ab634b;
  --color-primary-alpha-40: #87ab6366;
  --color-primary-alpha-50: #87ab6380;
  --color-primary-alpha-60: #87ab6399;
  --color-primary-alpha-70: #87ab63b3;
  --color-primary-alpha-80: #87ab63cc;
  --color-primary-alpha-90: #87ab63e1;
  --color-primary-hover: var(--color-primary-light-1);
  --color-primary-active: var(--color-primary-light-2);
  --color-secondary: #222222;
  --color-secondary-dark-1: #505665;
  --color-secondary-dark-2: #5b6273;
  --color-secondary-dark-3: #71798e;
  --color-secondary-dark-4: #7f8699;
  --color-secondary-dark-5: #8c93a4;
  --color-secondary-dark-6: #9aa0af;
  --color-secondary-dark-7: #a8adba;
  --color-secondary-dark-8: #b6bac5;
  --color-secondary-dark-9: #c4c7d0;
  --color-secondary-dark-10: #d2d4db;
  --color-secondary-dark-11: #dfe1e6;
  --color-secondary-dark-12: #edeef1;
  --color-secondary-dark-13: #fbfbfc;
  --color-secondary-light-1: #454545;
  --color-secondary-light-2: #333333;
  --color-secondary-light-3: #242424;
  --color-secondary-light-4: #121212;
  --color-secondary-alpha-10: #22222219;
  --color-secondary-alpha-20: #22222233;
  --color-secondary-alpha-30: #2222224b;
  --color-secondary-alpha-40: #22222266;
  --color-secondary-alpha-50: #22222280;
  --color-secondary-alpha-60: #22222299;
  --color-secondary-alpha-70: #222222b3;
  --color-secondary-alpha-80: #222222cc;
  --color-secondary-alpha-90: #222222e1;
  --color-secondary-button: var(--color-secondary-dark-4);
  --color-secondary-hover: var(--color-secondary-dark-3);
  --color-secondary-active: var(--color-secondary-dark-2);
  /* console colors - used for actions console and console files */
  --color-console-fg: #eeeff2;
  --color-console-fg-subtle: #959cab;
  --color-console-bg: #262936;
  --color-console-border: #383c47;
  --color-console-hover-bg: #ffffff16;
  --color-console-active-bg: #454a57;
  --color-console-menu-bg: #383c47;
  --color-console-menu-border: #5c6374;
  /* named colors */
  --color-red: #db2828;
  --color-orange: #f2711c;
  --color-yellow: #fbbd08;
  --color-olive: #b5cc18;
  --color-green: #21ba45;
  --color-teal: #00b5ad;
  --color-blue: #2185d0;
  --color-violet: #6435c9;
  --color-purple: #a333c8;
  --color-pink: #e03997;
  --color-brown: #a5673f;
  --color-black: #1e222e;
  /* light variants - produced via Sass scale-color(color, $lightness: +10%) */
  --color-red-light: #d15a5a;
  --color-orange-light: #f6a066;
  --color-yellow-light: #eaaf03;
  --color-olive-light: #abc016;
  --color-green-light: #93b373;
  --color-teal-light: #00b6ad;
  --color-blue-light: #4e96cc;
  --color-violet-light: #9b79e4;
  --color-purple-light: #ba6ad5;
  --color-pink-light: #d74397;
  --color-brown-light: #b08061;
  --color-black-light: #3f4555;
  /* dark 1 variants - produced via Sass scale-color(color, $lightness: -10%) */
  --color-red-dark-1: #c23636;
  --color-orange-dark-1: #f38236;
  --color-yellow-dark-1: #b88a03;
  --color-olive-dark-1: #839311;
  --color-green-dark-1: #7a9e55;
  --color-teal-dark-1: #00837c;
  --color-blue-dark-1: #347cb3;
  --color-violet-dark-1: #7b4edb;
  --color-purple-dark-1: #a742c9;
  --color-pink-dark-1: #be297d;
  --color-brown-dark-1: #94674a;
  --color-black-dark-1: #292d38;
  /* dark 2 variants - produced via Sass scale-color(color, $lightness: -20%) */
  --color-red-dark-2: #ad3030;
  --color-orange-dark-2: #f16e17;
  --color-yellow-dark-2: #a37a02;
  --color-olive-dark-2: #74820f;
  --color-green-dark-2: #6c8c4c;
  --color-teal-dark-2: #00746e;
  --color-blue-dark-2: #2e6e9f;
  --color-violet-dark-2: #6733d6;
  --color-purple-dark-2: #9834b9;
  --color-pink-dark-2: #a9246f;
  --color-brown-dark-2: #835b42;
  --color-black-dark-2: #252832;
  /* ansi colors used for actions console and console files */
  --color-ansi-black: var(--color-black);
  --color-ansi-red: var(--color-red);
  --color-ansi-green: var(--color-green);
  --color-ansi-yellow: var(--color-yellow);
  --color-ansi-blue: var(--color-blue);
  --color-ansi-magenta: var(--color-pink);
  --color-ansi-cyan: var(--color-teal);
  --color-ansi-white: var(--color-console-fg-subtle);
  --color-ansi-bright-black: var(--color-black-light);
  --color-ansi-bright-red: var(--color-red-light);
  --color-ansi-bright-green: var(--color-green-light);
  --color-ansi-bright-yellow: var(--color-yellow-light);
  --color-ansi-bright-blue: var(--color-blue-light);
  --color-ansi-bright-magenta: var(--color-pink-light);
  --color-ansi-bright-cyan: var(--color-teal-light);
  --color-ansi-bright-white: var(--color-console-fg);
  /* other colors */
  --color-grey: #767a85;
  --color-grey-light: #828f99;
  --color-gold: #a1882b;
  --color-white: #ffffff;
  --color-diff-removed-word-bg: #6f3333;
  --color-diff-added-word-bg: #3c653c;
  --color-diff-removed-row-bg: #3c2626;
  --color-diff-moved-row-bg: #818044;
  --color-diff-added-row-bg: #283e2d;
  --color-diff-removed-row-border: #634343;
  --color-diff-moved-row-border: #bcca6f;
  --color-diff-added-row-border: #314a37;
  --color-diff-inactive: var(--color-secondary-light-2);
  --color-error-border: #a53a37;
  --color-error-bg: #331111;
  --color-error-bg-active: #593333; /* new */
  --color-error-bg-hover: #472424; /* new */
  --color-error-text: #ff4433;
  --color-success-border: #458a57;
  --color-success-bg: #113322;
  --color-success-text: #6cc664;
  --color-warning-border: #bb9d00;
  --color-warning-bg: #3a3a30;
  --color-warning-text: #fbbd08;
  --color-info-border: #306090;
  --color-info-bg: #26354c;
  --color-info-text: #38a8e8;
  --color-red-badge: #db2828;
  --color-red-badge-bg: #db28281a;
  --color-red-badge-hover-bg: #db28284d;
  --color-green-badge: #21ba45;
  --color-green-badge-bg: #21ba451a;
  --color-green-badge-hover-bg: #21ba454d;
  --color-yellow-badge: #fbbd08;
  --color-yellow-badge-bg: #fbbd081a;
  --color-yellow-badge-hover-bg: #fbbd084d;
  --color-orange-badge: #f2711c;
  --color-orange-badge-bg: #f2711c1a;
  --color-orange-badge-hover-bg: #f2711c4d;
  --color-git: #f05133;
  /* Icon colors (PR/Issue/...) */
  --color-icon-green: var(--color-green);
  --color-icon-red: var(--color-red);
  --color-icon-purple: var(--color-purple);
  /* target-based colors */
  --color-body: #111111;
  --color-box-header: var(--color-secondary);
  --color-box-body: var(--color-body);
  --color-box-body-highlight: var(--color-secondary-light-2); /* alt #3a3e4c; */
  --color-text-dark: #dbe0ea;
  --color-text: #bbc0ca;
  --color-text-light: #a6aab5;
  --color-text-light-1: #989ca6; /* new */
  --color-text-light-2: #8a8e99;
  --color-text-light-3: #707687;
  --color-footer: var(--color-nav-bg);
  --color-timeline: #4c525e;
  --color-input-text: var(--color-text-dark); /* alt #d5dbe6 */
  --color-input-background: #1b1b1b;
  --color-input-toggle-background: #2e353b;
  --color-input-border: var(--color-secondary);
  --color-input-border-hover: var(--color-secondary-dark-1);
  --color-light: #00000028;
  --color-light-mimic-enabled: rgba(0, 0, 0, calc(40 / 255 * 222 / 255 / var(--opacity-disabled)));
  --color-light-border: #ffffff28;
  --color-hover: #ffffff12;
  --color-active: #ffffff18;
  --color-menu: var(--color-secondary);
  --color-card: var(--color-secondary);
  --color-markup-table-row: #ffffff06;
  --color-markup-code-block: #ffffff08;
  --color-markup-code-inline: #ffffff12; /* new */
  --color-button: var(--color-secondary-light-2);
  --color-code-bg: #1b1b1b;
  --color-shadow: #00000060;
  --color-secondary-bg: #1b1b1b;
  --color-expand-button: #ffffff10; /* alt #3c404d; */
  --color-placeholder-text: var(--color-text-light-3); /* alt #6a737d */
  --color-editor-line-highlight: var(--color-primary-light-5);
  --color-project-column-bg: var(--color-secondary-light-2);
  --color-caret: var(--color-text); /* should ideally be --color-text-dark, see #15651 */
  --color-reaction-bg: #ffffff12;
  --color-reaction-hover-bg: var(--color-primary-light-4);
  --color-reaction-active-bg: var(--color-primary-alpha-40);
  --color-tooltip-text: var(--color-text-dark);
  --color-tooltip-bg: #000000f0;
  --color-nav-bg: var(--color-secondary);
  --color-nav-hover-bg: var(--color-hover);
  --color-nav-text: var(--color-text); /* alt --color-text-dark */
  --color-secondary-nav-bg: var(--color-secondary);
  --color-label-text: var(--color-text);
  --color-label-bg: #333333ff;
  --color-label-hover-bg: #333333b4;
  --color-label-active-bg: #33333380;
  --color-accent: var(--color-primary-light-1);
  --color-small-accent: var(--color-primary-light-5);
  --color-highlight-fg: #87651e;
  --color-highlight-bg: #352c1c;
  --color-overlay-backdrop: #080808c0;
  /* pattern colors for image diff */
  --checkerboard-color-1: #313131;
  --checkerboard-color-2: #212121;
  accent-color: var(--color-accent);
  color-scheme: dark;
}

/* invert emojis that are hard to read otherwise */
.emoji[aria-label="check mark"],
.emoji[aria-label="currency exchange"],
.emoji[aria-label="TOP arrow"],
.emoji[aria-label="END arrow"],
.emoji[aria-label="ON! arrow"],
.emoji[aria-label="SOON arrow"],
.emoji[aria-label="heavy dollar sign"],
.emoji[aria-label="copyright"],
.emoji[aria-label="registered"],
.emoji[aria-label="trade mark"],
.emoji[aria-label="multiply"],
.emoji[aria-label="plus"],
.emoji[aria-label="minus"],
.emoji[aria-label="divide"],
.emoji[aria-label="curly loop"],
.emoji[aria-label="double curly loop"],
.emoji[aria-label="wavy dash"],
.emoji[aria-label="paw prints"],
.emoji[aria-label="musical note"],
.emoji[aria-label="musical notes"] {
  filter: invert(100%) hue-rotate(180deg);
}

::selection {
  background: var(--color-secondary-light-2);
  color: var(--color-white);
}

.ui.green.button,
.ui.green.buttons .button {
  background: var(--arc-green-3);
}

.ui.green.button:hover,
.ui.green.buttons .button:hover {
  background: var(--arc-green-4);
}

.ui.ui.ui.green.label {
  background: var(--arc-green-1);
  border-color: var(--arc-green-1);
}
a.ui.ui.ui.green.label:hover {
  background: var(--arc-green-2);
  border-color: var(--arc-green-2);
}

.code-expander-button:hover {
  background: var(--color-secondary-light-1);
}

.repo-buttons .ui.labeled.button > .label:hover {
  color: var(--color-text-dark);
  background: var(--color-secondary-light-1);
}

.ui.primary.buttons:not(.basic) .button,
.ui.primary.button:not(.basic) {
  background: var(--arc-green-3) !important;
}

.ui.primary.buttons:not(.basic) .button:hover,
.ui.primary.buttons:not(.basic) .button:active,
.ui.primary.button:not(.basic):hover,
.ui.primary.button:not(.basic):active {
  background: var(--arc-green-4) !important;
}

/*.ui.form .field.field input:active,*/
.ui.form .field.field input:autofill,
.ui.form .field.field input:autofill:hover,
.ui.form .field.field input:autofill:focus,
.ui.form .field.field input:autofill:active {
  box-shadow: 0 0 !important;
  border-color: var(--arc-green-4) !important;
}

.user-menu,
.ui.card {
  background: var(--color-secondary) !important;
}

/* theme-forgejo-dark.css */
i.grey.icon.icon.icon.icon {
  color: var(--color-secondary-dark-3) !important;
}

.ui.secondary.vertical.menu {
  border-radius: 0.28571429rem !important;
  overflow: hidden;
}

.ui.basic.primary.button.item {
  background-color: var(--color-active) !important;
  color: var(--color-text) !important;
  box-shadow: none !important;
}

.ui.red.label.notification_count,
.ui.primary.label,
.ui.primary.labels .label {
  background-color: var(--color-primary-light-3) !important;
}

.repository.view.issue .comment-list .code-comment + .code-comment {
  margin: 1.25rem 0 !important;
  padding-top: 1.25rem !important;
  border-top-color: var(--color-secondary-light-1) !important;
}


.ui.labeled.icon.buttons > .button > .icon,
.ui.labeled.icon.button > .icon {
  background-color: var(--color-light) !important;
}

#review-box .review-comments-counter {
  background-color: var(--color-shadow) !important;
  color: var(--color-white) !important;
  margin-left: 0.5em;
}

.ui.basic.labels .primary.label,
.ui.ui.ui.basic.primary.label {
  color: var(--color-text-dark) !important;
}

.ui.basic.yellow.label.pending-label {
  background: var(--color-light) !important;
}

strong.attention-important, svg.attention-important {
  color: var(--color-violet-light);
}

strong.attention-note, svg.attention-note {
  color: var(--color-blue-light);
}

strong.attention-caution, svg.attention-caution {
  color: var(--color-red-light);
}

.ui.basic.red.button {
  background-color: var(--color-red);
  color: var(--color-white);
}

.ui.basic.red.button:hover,
.ui.basic.red.button:focus {
  background-color: var(--color-red-dark-1);
  color: var(--color-white);
}

.ui.basic.red.button:active {
  background-color: var(--color-red-dark-2);
  color: var(--color-white);
}

/* Uncomment to remove dashboard tabs */
/*
#dashboard-repo-list > div > div:first-child {
  display: none !important;
}
*/